h1 {
    font-size: 35px;
    color: var(--green-blue);
}

body {
    margin: 0px;
}

label {
    cursor: pointer;
}

#consulte {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 5%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

div#img {
    position: relative;
    display: flex;
    width: 35%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

div#img img {
    position: sticky;
    display: block;
    width: 75%;
    aspect-ratio: 1/1;
    object-fit: cover;
    top: 0px;
}

div#donnees {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    width: 35%;
}

div#donnees > div {
    border-top: 2px solid var(--green-blue);
    padding: 20px;
    box-sizing: border-box;
}

div#donnees > div:first-child {
    border-top: none;
}

div#produit {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

div#produit form {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

div#produit form div:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#produit form input {
    position: relative;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--green-blue);
    background-color: var(--green-blue);
    color: var(--white);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
}

div#produit form div.choix div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

#caracteristiques {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caracs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#infos div {
    padding: 5px;
    padding-left: 0px;
    min-height: 30px;
}

div#note-moyenne {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

div#moyenne-note {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

div#etoiles-vide {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

div#etoiles-vide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#etoiles-bg {
    position: absolute;
    display: block;
    background-color: black;
    height: 100%;
    z-index: 1;
}

div#etoiles {
    position: relative;
    display: block;
    width: 112px;
    height: 22px;
}

div.caracs {
    width: 65%;
    border-bottom: 1px solid var(--black);
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

div.caracs:last-child {
    border-bottom: none;
}

h5#filtrerParNote {
    position: relative;
    display: block;
    margin-top: 15px;
}

div.selection-avis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.bg-barre-avis {
    height: 4px;
    width: calc(100% - 60px * 2 - 30px * 2);
    background-color: var(--light-grey);
}

div.barre-avis {
    position: relative;
    display: block;
    height: 4px;
    background-color: black;
}

div.selection-avis > div:first-child {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 60px;
}

div.el-avis {
    width: 60px;
}

div#filtres-avis {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    
}

div#liste-avis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

div.avis-produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid var(--black);
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

div.avis-produit:last-child {
    border-bottom: none;
}

div.haut-avis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}