header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--dark-grey);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

header a.lien {
    color: var(--white);
}

header div,
header nav {
    width: calc(100% / 3);
}

header a.logo {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: fit-content;
}

header a.logo img {
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
}

header a.logo span {
    color:white;
    position: relative;
    display: block;
    font-size: 50px;
    margin-left: 15px;
}

header nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

header nav a.lien {
    display: flex;
    transition-duration: 0.3s;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 5px;
    width: calc(100% / 3);
}

header nav a.lien:hover {
    color: var(--green-blue);
}

header nav a.lien img {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
}

header div.searchBox {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

header div.searchBox form {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
}

header div.searchBox input {
    position: relative;
    display: block;
    border: 2px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    transition-duration: 0.3s;
    outline: none;
    padding-left: 25px;
    background-color: var(--white);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
}

header div.searchBox input:focus {
    width: 75%;
}

header div.searchBox button {
    position: relative;
    display: block;
    background-color: var(--white);
    border: 2px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 45px;
    padding-right: 15px;
    cursor: pointer;
}

header div.searchBox button img {
    position: relative;
    display: block;
    height: calc(45px / 2);
    width: calc(45px / 2);
}

div.subHeader {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: var(--light-grey);
}

div.subHeader div.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    max-height:50px;
}

div.subHeader div.navbar a.lien {
    position: relative;
    display: block;
    width: 200px;
    height:50px;
    float: left;
    text-align: center;
    list-style: none;
    background-color: var(--green-blue);
    margin-left: 35px;
    padding: 15px;
    text-decoration: none;
    color: var(--white);
    box-sizing: border-box;
    z-index:999;
}

/*div.subHeader ul.navbar a {
    position: relative;
    padding: 15px;
    text-decoration: none;
    color: var(--white);
    display: block;
    box-sizing: border-box;
}*/

div.subHeader div.navbar a#titleSubmenu, div.subHeader div.navbar a#titleSubmenu2 {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-left:0;
}

div.subHeader div.navbar a.lien img {
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
}

#div-submenu, #div-submenu2 {
    margin-left:35px;
    width:200px;
    height:50px;
}

/* 1st ul child */
#div-submenu > ul, #div-submenu2 > ul {
    /*display:block;*/
    background-color:var(--green-blue);
    margin-top:50px;
    margin-left:0;
}
a#titleSubmenu:hover ~ ul, a#titleSubmenu2:hover ~ ul {
    display:block;
}
#div-submenu ul:hover, #div-submenu2 ul:hover {
    display:block;
}

div.subHeader div.navbar ul {
    margin-left:calc(100% + 15px);
    margin-top:-36px;
    position:relative;
    z-index:50;
}

div.subHeader div.navbar li {
    white-space:nowrap;
    background-color:var(--light-grey);
    width:170px;
    height:20px;
    padding:15px;
    list-style:none;
}
div.subHeader div.navbar li:hover {
    background-color:var(--green-blue);
}

div.subHeader div.navbar li > a {
    display:block;
    color:var(--dark-grey);
}
div.subHeader div.navbar li:hover > a {
    color:white;
}

#div-submenu2:hover > ul {
    display:block;
}
#div-submenu2 ul {
    display:none;
}
#div-submenu2 li:hover ul {
    display:block;
}
